@CHARSET "UTF-8";
/* ==========================================================================
   FONTS
   ========================================================================== */
@font-face{
    font-family: "DistantGalaxyRegular";
    src:    url("../fonts/vendors/distgrg_-webfont.eot");
    src:    url("../fonts/vendors/distgrg_-webfont.eot?#IEfix") format("embedded-opentype"),
            url("../fonts/vendors/distgrg_-webfont.woff") format("woff"),
            url("../fonts/vendors/distgrg_-webfont.ttf") format("truetype"),
            url("../fonts/vendors/distgrg_-webfont.svg?#svgFontName") format("svg");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(http://themes.googleusercontent.com/static/fonts/lobster/v6/MWVf-Rwh4GLQVBEwbyI61Q.woff) format('woff');
}
/* ==========================================================================
   default Author styles
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, main,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background:transparent;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div, li
{
    display:block;
}
html, body
{
    height: 100%;/*adaptar el diseño al ancho de la ventana del navegador*/
    max-width: 100%;/*nada puede ser mas ancho que la pagina, evitamos el scroll horizontal*/
    margin:0 auto;
    padding: 0;
}
html
{
    font: 16px verdana, arial, sans-serif;/*1rem = 16px*/
    color: #4C4C4C;
    cursor: auto;
    -webkit-font-smoothing: antialiased;/*solo MAC, efecto antialiasing, renderice mejor el texto e imagenes*/
}
header, header h1, header h2, header h3, header h4
{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif, roboto;
    text-transform: uppercase;
    line-height: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}
nav a, .subtitles
{
    font-size: 14px;
    font-size: 0.9rem;
    text-align: left;
    text-transform: lowercase;
    line-height: 1em;
}
p, pre
{ margin: 0 0 1em; }
p:first-letter, nav a:first-letter, .subtitles:first-letter
{
    text-transform: uppercase;
}
small {
    font-weight: bold;
    font-size: 70%;
}
a, a:link, a:visited, a:hover
{
    text-decoration: none;
    color: rgb(55, 55, 55);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    /*border-bottom: 1px dashed rgb(55, 55, 55);*/
}
a:hover
{
    color: rgb(150, 150, 150);
    border-bottom: none;
}

/*<i class="idea"> Frase q expresa una idea, concepto, un ejemplo*/
.idea, em{ font-style: italic; }
.idea{ quotes: "\00AB" "\00BB";  }
em{ quotes: '\201C' '\201D'; }
.idea:before, em:before
{ content: open-quote; }
.idea:after, em:after
{ content: close-quote; }

/*<b class="lead">: Frase importante del texto, resumen del contexto*/
/*<strong>: Llamar la atencion del lector*/
.lead, strong {font-weight: bold;}
.lead {text-decoration: underline;}

/*<img alt="" longdesc="url"/><a rel="longdesc" href="url">[D]</a>*/
a[rel="longdesc"]{text-decoration: underline;}
a[rel="longdesc"]:before{content:"[";} a[rel="longdesc"]:after{content:"]";}

label, button,
input[type='button'], input[type='submit'],
a, a:link, a:visited, a:hover
{
    cursor: pointer;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(250, 250, 250);
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(250, 250, 250);
    text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(250, 250, 250);
    text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(250, 250, 250);
    text-align: center;
}
input[type='text']:valid:focus,
input[type='url']:valid:focus,
input[type='email']:valid:focus{
    animation: anim_focus 2s linear 0s infinite normal;
    -webkit-animation: anim_focus 2s linear 0s infinite normal;
    -moz-animation: anim_focus 2s linear 0s infinite normal;
}
@keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}
@-webkit-keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}
@-moz-keyframes anim_focus{
    from{ background-color: rgb(193, 250, 149); }
    50%{ background-color: rgb(88, 189, 10); }
    to{ background-color: rgb(193, 250, 149); }
}
li
{
    /*display: inline-block;*/
    margin: 0 auto;
    /*padding: 6px 12px;*/
    text-align: center;
    list-style-type: none;
}
.list li:before
{
    content: "\2022  ";
    font-weight: bold;
}
.list_ord > li
{
    display: list-item;
    list-style: inherit; /*numerico*/
    list-style-position: inside;
}
.list_ord > li:first-letter
{
    padding-left: 1em;
}
img, embed, object, video
{
  max-width: 100%;
}
code
{
    color: rgb(51, 51, 51);
    font-style: oblique;
    font-family: "Source Code Pro", monospace;
}
p.blockCode
{
    position: relative;
    font-size: inherit;
    color: #696969;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #fc0;
    border-top-left-radius: 10px;
    font: 1em/1.25em "Courier New", monospace;
    padding: 10px;
}
p.blockCode:before
{
    content: "codigo";
    display: block;
    position: absolute;
    font-size: 1.25em;
    font-variant: small-caps;
    font-weight: bolder;
    text-transform: uppercase;
    top: 0;
    right: 0;
    margin-top: 0;
    padding: 2px;
    color: black;
    border-color: #fc0;
    border-width: 2px;
    border-left-style: solid;
    border-bottom-style: solid;
    border-bottom-left-radius: 10px;
}
.comment {
    font-size: 0.75em;
    font-weight: bold;
}
::-moz-selection
{
    background: #b3d4fc;
    text-shadow: none;
}
::selection
{
    background: #b3d4fc;
    text-shadow: none;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe
{
    background: #E7E7E7;
    color: #000;
    width: 50%;
    padding: 10px;
    margin: 10% auto;
    font-size: 16px;
}
.chromeframe a
{
    color: #239407;
    text-decoration: underline;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ==========================================================================
   Licence Block
    <div id="wrapCC">
        <a rel="license"> IMG_LICENCE </a>
        <div id="licenseCC">
            CONTENT_LICENSE
        </div>
    </div>
   ========================================================================== */
#wrapCC{
    position: relative;
    top: 5px;
    display: block;
    /*width: 500px;*/
    width: 100%;
    margin-top: -30px;
}
#licenseCC{
    display: none;
    position: absolute;
    bottom: -8px;
    left: 100px;
    font-size: 0.6em;
    width: 500px;
}
#wrapCC:hover > #licenseCC
{
    /*display: block*/
}
#wrapCC [rel="license"]{
    border-bottom: 1px solid rgb(255, 255, 255);
}
#wrapCC [rel="license"]:before {
    content: "\A"; /*white space*/
    white-space: pre;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body
{
    background: rgb(255, 255, 255) url("../media/img/cinta_body.jpg") repeat-y fixed;
    -webkit-background-size: 100%;
    background-size: 100%;
}
#contenedor-web
{
    position: relative;
    width: 90%;
    margin          : 0 auto 0;
    padding         : 0 25px 50px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow      : 5px 0 10px rgb(255, 255, 255), -5px 0 10px rgb(255, 255, 255);
    font-size       : 16px;
    font-size       : 1rem;
}
.page-header{margin: 0 auto; padding: 1% 0;}
.fa-square:before {
    content: "\f0c8";
    color: rgba(0, 0, 0, 0.6);
}
.fa-stack {
margin-left: 5px;
}
h1 {
    font-size: 50px;
    text-shadow: 2px 1px 1px rgb(247, 245, 245), 3px 2px 1px rgb(136, 136, 136);
    letter-spacing: 6px;
    color: rgb(79, 72, 72);
    font-family: 'DistantGalaxyRegular' !important;
}
h1 span {
color: rgb(219, 109, 0);
letter-spacing: 4px;
padding: 0 7px;
font-size: 57px;
}
.btn-group>.btn-group>.btn:last-child, .btn-group>.btn-group>.dropdown-toggle {
    font-family: cursive;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(79, 72, 72);
}
.dropdown-menu{
    left: 25%;
    width: 50%;
}
.dropdown-menu>li>a {
font-weight: bolder;
text-align: center;
font-family: cursive;
letter-spacing: 1px;
}
#contenedor-web>*:last-child {
    position: absolute;
    width: 100%;
    height: 84px;
    bottom: 0;
    left: 0;
    font-size: 0.6em;
    border-top: 5px solid rgb(38, 153, 186);
    background-color: rgba(255, 255, 255, 0.5);
}
#contenedor-web>*:last-child h3 {
font-size: 1.5em;
font-weight: bold;
}
#contenedor-web>*:last-child address {
position: absolute;
left: 45%;
top: 10px;
}
#contenedor-web>*:last-child h3, #wrapCC {
padding-left: 15%;
}
.row{
    text-align: center;
}
#link-form{
    margin: 5% 0 8%;
}
.col-md-6 {
    width: 50%;
}
[class^="col-"]{
    margin: 0 auto;
}
.fa-stack-1x{
    color: rgb(18, 136, 170);
}
.fa-stack-2x{
    color: rgb(18, 170, 134);
}
.fa-stack{
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}
.fa-stack:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.fa-stack:active > .fa-stack-1x{
    color: rgb(18, 170, 134);
}
.fa-stack:active > .fa-stack-2x{
    color: rgb(18, 136, 170);
}
/*CARRUSEL*/
.wrapSlider{
    display: none;
    width: 80%;
    position: relative;
    margin: 3% auto;
    overflow: hidden;
    white-space: nowrap; /*permite que el contenido (<a>) no se formateen*/
    border-radius: 10%/20%;
    border: 10px solid rgb(92, 192, 222);
    background-color: rgb(92, 192, 222);
}
.slider li{
    display: inline-block;
}
.slider li:not(:first-child){
    margin: 4px 0 0 0; /*controlamos el defecto de alineado por inline-block*/
}
.slide{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 20%;
    border-radius: 9%/24%;
}
/*BOTONES CARRUSEL*/
.btn-slide{
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 4em;
    background-color: #00ccc5;
    color: transparent;
    outline: 0;
}
.left{ left: 2%; } .right{ right: 2%; }

.left.btn-slide:before{
    /*content: "<";*/
    text-indent: 0px;
}
.right.btn-slide:before{
    /*content: ">";*/
    text-indent: 4px;
}
.btn-slide:before{
    position: absolute;
    top: 0;
    color: rgb(0, 0, 255);
    font-size: 0.7em;
    line-height: 1.1em;
}
h2 {
    margin: 0;
    font-family: cursive;
}
/*IMAGENES*/
[class^="curso-"]
{
    position: relative;
    width: 100%;
    box-shadow: inset 4px 0 5px rgb(255, 255, 255),
                inset 8px 0 8px rgb(255, 255, 255),
                inset -4px 0 5px rgb(255, 255, 255),
                inset -8px 0 8px rgb(255, 255, 255),
                inset 0 4px 5px rgb(255, 255, 255),
                inset 0 8px 8px rgb(255, 255, 255),
                inset 0 -4px 5px rgb(255, 255, 255),
                inset 0 -8px 8px rgb(255, 255, 255);
    margin: 5% auto 0;
    cursor:  sw-resize;
    cursor: url(../media/img/iconExpand.png) 2 2, sw-resize;
}
.image_box{
    position: absolute;
    width: 174px; /*Total width= 174 + 7*2 + 1* 2 --> (190px)*/
    padding: 7px;
    background-color: #fff;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);

    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}
.image_box > img{
    width: 174px;
    height: 100%;
}
/*excepciones img-box*/
.image_box[data-size] > img{
    width: 100%;
}
.image_box > figcaption{
    display: none;
}
.slider{ position: relative;}
.bannerLorem{
    position: absolute;
    /*programar position del banner*/
    top: 0;
    left: 0;
    width: auto;
    text-align: center;
    white-space: normal; /*eliminamos el formato 'noWrap del' puesto en el slider*/
    color: rgb(42, 171, 210);
}
.bannerLorem strong{
    display: block;
    margin-bottom: -22px;
    font-size: 0.9em;
    text-shadow:    -1px 0 rgb(0, 0, 0),
                    0 1px rgb(0, 0, 0),
                    1px 0 rgb(0, 0, 0),
                    0 -1px rgb(0, 0, 0),
                    3px 0px 7px rgb(255, 255, 255);
}
.bannerLorem span{
    color: blue;
    font-size: 0.8em;
}
#alertas
{
display: none;
position: fixed;
width: 350px;
height: 110px;
top: 0%;
top: calc(50% - 55px);
left: -40%;
left: calc(50% - 175px);
border: 1px solid rgb(255, 0, 0);
background-color: rgba(255, 121, 121, 0.8);
font-family: cursive;
text-align: center;
}
#alertas h3
{
    font-size: 1.1em;
    margin-bottom: 10px;
}
#alertas p
{
    font-size: 0.8em;
    color: black;
}
#checkUser{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    line-height: 5em;
    height: 84px;
    border-top: 5px solid rgb(38, 153, 186);
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 0 10px rgb(255, 255, 255), -5px 0 10px rgb(255, 255, 255);
}
#checkUser p{
    font-family: 'Lobster', cursive;
    color: rgb(18, 170, 134);
    font-size: 2em;
    word-spacing: 2px;
    margin: 0;
}
#erraseLogin {
    font-size: 0.5em;
    display: inline-block;
    margin-left: 20px;
}
/* ==========================================================================
   MEDIA QUERIS
   ========================================================================== */
@media screen and (max-width: 640px) { /*@screen-xs | tablets, movil*/
    .dropdown-menu{
        left: 0;
        width: 100%;
    }
    .btn-group-justified>.btn-group {
        display: inline;
    }
    .dropdown-menu {
        position: static;
    }
    h1 {
        font-size: 30px;
    }
    h1 span {
        font-size: 40px;
    }
    .wrapSlider{
        border: none;
        background-color: transparent;
        width: 110%;
        left: -5%;
    }
    .btn-slide {
        position: absolute;
        top: 40%;
        width: 35px;
        height: 35px;
        font-size: 1.5em;
    }
    .btn-slide:before {
        font-size: 0.9em;
        font-weight: bolder;
        line-height: 1.5em;
    }
    .right.btn-slide:before {
        text-indent: 4px;
    }
    .col-sm-12{
        width: 100%;
    }
}
@media screen and (max-device-width : 480px) and (orientation : portrait) { /*solo moviles verticales*/
    h1 {
        font-size: 20px;
    }
    h1 span {
        font-size: 25px;
    }
    #footer>*{
        position: static;
        float: left;
    }
    #wrapCC {
        margin: -20px 0 0 -34px;
    }
    #wrapCC [rel="license"] {
        position: relative;
        left: 34px;
    }
    #contenedor-web>*:last-child h3, #wrapCC {
        padding-left: 15px;
    }
    #contenedor-web>*:last-child address {
        top: 25px;
    }
    .slider li:not(:first-child) {
        margin: 4px 0 0 0;
    }
    .fa-5x {
        font-size: 3.5em;
    }
    .wrapSlider {
        width: 110%;
        left: -5%;
    }
    #erraseLogin {
        font-size: 0.5em;
        display: block;
        margin-left: 0;
        width: 100%;
        padding: 5px 0;
        box-shadow: 7px -4px 10px rgb(255, 255, 255),
                    -7px -5px 10px rgb(255, 255, 254),
                    5px 12px 10px rgb(255, 255, 255),
                    1px 3px 10px rgb(255, 255, 254);
    }
}

@media screen and (max-device-width : 640px) and (orientation : landscape) { /*solo moviles panoramicos*/
    .fa-5x {
        font-size: 3.5em;
    }
    .wrapSlider {
        width: 100%;
        left: 0%;
    }
    .slider li:not(:first-child) {
        margin: 4px 0 0 0;
    }
    #contenedor-web>*:last-child address {
        top: 30px;
    }
}

